@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

:root {
    --black: #141414;
    --dark-gray: #1f1f1f;
    --white: #fff;
    --main-bg-color: pink;
    --gray: #333333;
}

body {
    background-color: var(--black);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    background-color: var(--dark-gray);
    color: var(--white);
    width: 384px;
    text-align: center;
    border-radius: 12px;
    padding: 40px;
}

img{
    width: 88px;
    border-radius: 50%;
    margin-bottom: 24px;

}

h1{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 4px;
}

strong{
    color: var(--main-bg-color);
    font-size: 14px;
}

p{
    margin-block: 24px;
    font-size: 14px;
}

ul, li{
    list-style: none;
}

a{
    display: block;
    background-color: var(--gray);
    margin-bottom: 16px;
    padding: 12px;
    color: var(--white--white);
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
    border-radius: 8px;
}

a:hover{
    background-color: var(--main-bg-color);
    color: var(--dark-gray);
    transition: 0,4s;
}